In [ ]:
import pandas as pd

# Mapping sur la database dp1

In [162]:
df1=pd.read_csv('dpe1.csv')

/var/folders/2n/lg7k599d1vb29gj0p2dj2rfr0000gn/T/ipykernel_18288/2555595010.py:1: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv('dpe1.csv')

In [163]:
filter1=(df1['date_visite_diagnostiqueur']>'1677-09-21') & (df1['date_visite_diagnostiqueur']<'2026')
filter2=(df1['date_etablissement_dpe']>'1677-09-21') & (df1['date_etablissement_dpe']<'2026')
filter3=(df1['date_arrete_tarifs_energies']>'1677-09-21') & (df1['date_arrete_tarifs_energies']<'2026')
df1=df1[filter1&filter2&filter3]

In [164]:
df1['date_visite_diagnostiqueur']=pd.to_datetime(df1['date_visite_diagnostiqueur'])
df1['date_etablissement_dpe']=pd.to_datetime(df1['date_etablissement_dpe'])
df1['date_arrete_tarifs_energies']=pd.to_datetime(df1['date_arrete_tarifs_energies'])

In [165]:
def modify(ch):
    # Si ch est une chaîne de caractères, on effectue le split
    if isinstance(ch, str):
        return ch.split("\xa0")[0]+' '+ch.split("\xa0")[1]
    else:
        # Si ce n'est pas une chaîne, on retourne la valeur telle quelle
        return ch
df1['tr013_type_erp_type']=df1['tr013_type_erp_type'].apply(modify)

In [166]:
df_names=pd.read_excel('mapping_secteur_activite.xlsx')

In [168]:
# Création du dictionnaire de correspondance
mapping = df_names.set_index('secteur_activite')['asset_type_cre'].to_dict()

# Remplacement des valeurs avec gestion des valeurs absentes
df1['secteur_activite'] = df1['tr013_type_erp_type'].map(mapping).fillna(df1['secteur_activite'])
df1['secteur_activite'] = df1['secteur_activite'].map(mapping).fillna(df1['secteur_activite'])

In [169]:
#Dictionnaire pour supprimer les valeurs non changées:
mapping2 = {key:key for key in df_names['asset_type_cre'].unique()}
df1['secteur_activite'] = df1['secteur_activite'].map(mapping2).dropna()

In [170]:
df1['secteur_activite'].value_counts()

secteur_activite
Autres cas (par exemple: théâtres, salles de sport, restauration, commerces individuels, etc)          174804
Bâtiment à usage principale de bureau, d'administration ou d'enseignement                              136679
Centre commercial                                                                                       63377
Bâtiment à occupation continue (par exemple: hopitaux, hôtels, internats, maisons de retraite, etc)     21441
Name: count, dtype: int64

# Mapping sur la database dpe2

In [177]:
# Importer la base de données dpe2
df2 = pd.read_csv('dpe2.csv')

In [ ]:
df2['Secteur_activité'].value_counts()

In [179]:
# Remplacer les valeurs avec gestion des valeurs absentes
df2['Secteur_activité'] = df2['Secteur_activité'].map(mapping)

In [180]:
# Afficher les valeurs uniques de la colonne 'secteur_activite'
df2['Secteur_activité'].value_counts()

Secteur_activité
Bâtiment à usage principale de bureau, d'administration ou d'enseignement                              60282
Centre commercial                                                                                      47866
Bâtiment à occupation continue (par exemple: hopitaux, hôtels, internats, maisons de retraite, etc)    22923
Autres cas (par exemple: théâtres, salles de sport, restauration, commerces individuels, etc)          20264
Name: count, dtype: int64